{% extends 'base.html.twig' %}

{% block body %}
    <h1>Bienvenue sur  !</h1>

    <p>Ce site sert à la gestion des trains, des trajets qui leur sont associés et des passagers.</p>
{% endblock %}